/* src/styles/NavBar.css */
.navbar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 2rem;
    margin-right: 15rem!important; /* Increased space between logo and tabs */
}

.navbar-links {
    display: flex;
    gap: 3rem; /* Increased gap between tabs */
}

.navbar-links a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.25rem;
    transition: border-color 0.3s ease;
}

.navbar-links a:hover {
    border-bottom: 2px solid white; /* Tab hover effect */
}

.navbar-toolbar {
    background-color: #003841 !important;
}

.nav-account-btn {
    background-color: #005F73 !important;
    color: white;
    border-radius: 50%;
}